{{#link-to 'article' blog.id}}<div class="blog-posts row">
  <div class="col-md-5 image-div">
    <img class="home-image" src={{blog.image}} alt={{blog.title}}>
  </div>
  <div class="col-md-7">
    <h3>{{blog.title}}</h3>
    <p>{{blog.author}} — {{blog.date}}</p>
    <p class="blog-teaser">{{blog.text}}</p>
  </div>
</div>{{/link-to}}
