{{#if newBlogForm}}
<h3 {{action 'blogFormShow'}}>- New Blog in {{category.title}}</h3>
<div>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>

    <div class="form-group">
      <label for="article">Article</label><br>
      {{textarea row="6" col="200" value=article id="article"}}
    </div>

    <button {{action 'saveBlog'}}>Save</button>
  </form>
</div>
{{else}}
  <h3 {{action 'blogFormShow'}}>+ {{category.title}}</h3>
{{/if}}
